<!-- <div id="fb-root"></div>
<div id="fb-customer-chat" class="fb-customerchat"></div>
<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("780840220123234", "104828195924958"); // Thay YOUR_PAGE_ID bằng ID của trang Facebook của bạn
    chatbox.setAttribute("attribution", "biz_inbox");
</script> -->

<!-- Đoạn mã JavaScript để tải SDK của Facebook -->
<!-- <script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v13.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script> -->


<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton icon="pi pi-plus" class="mr-2"></button>
        <button pButton icon="pi pi-print" class="mr-2"></button>
        <button pButton icon="pi pi-upload"></button>
    </div>
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
    </div>
    <div>
        <a [routerLink]="['/lichsuxemphim']">Lịch sử xem phim</a>
    </div>

</p-toolbar>
<!--menu thể loại-->
<div>
    <p-menubar [model]="items"></p-menubar>
</div>
<!--Danh sách phim-->
<div style="text-align: center;">
    <div *ngFor="let film of films" style="display:inline-block;">
        <p-card [style]="{ height: '278px',position: 'relative', margin: '5px' }" [routerLink]="['/phim',film.id]">


            <ng-template pTemplate="header">
                <div class="img">
                    <img class="img" style="width: auto; height:278px" alt="Card"
                        src="/assets/images/{{film.anhPhim}}" />
                    <p>{{film.soLuongTap}}/{{film.tongSoTap}}</p>
                    <h4>{{film.tenPhim}}</h4>
                </div>

            </ng-template>


        </p-card>
    </div>
    <div>
        <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="onPageChange($event)"> </p-paginator>
    </div>
</div>