h2 {
    color: #333;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    /* Loại bỏ giao diện mặc định trên một số trình duyệt */
    background: url('https://cdn.iconscout.com/icon/free/png-256/expand-more-chevron-down-circle-7-2669.png') no-repeat right 12px center;
    /* Thêm mũi tên mở rộng */
    background-size: 20px;
    /* Kích thước của biểu tượng mũi tên */
    cursor: pointer;
}

/* Thêm CSS cho hover và focus */
select:hover,
select:focus {
    border-color: #555;
}

/* Thêm CSS cho disabled */
select:disabled {
    background-color: #eee;
    cursor: not-allowed;
}