// div{
//   border: none;  
// }
ul li {
    background: #23232a;
    border-radius: 7.5px;
    transition: .6s all;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    padding: .8rem .2rem;

    display: inline-block;
    text-align: center;
    padding: 5px !important;
    margin: 5px !important
}